<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<runtime>
      <add key="AppContext.SetSwitch:Switch.System.Net.DontEnableSchUseStrongCrypto" value="false" />
	  <add key="AppContext.SetSwitch:Switch.System.Net.DontEnableSystemDefaultTlsVersions" value="false" />
    </runtime>
	<appSettings>
		<add key="ThreadTime" value="1"/>
		<add key="BaseFolderName" value="D2T File Transfer"/>
		<add key="ActionURL" value="https://www.staging.direct2title.com/sftp?TokenID="/>
		<add key="Token" value="Avanze@123"/>
		<add key="TimerTick" value="10000"/>
		<add key="Host" value="smtp.zoho.com"/>
		<add key="Port" value="587"/>
		<add key="FromMail" value="notifications@direct2title.com"/>
		<add key="Password" value="April@018"/>
		<add key="ToMail" value="parthasarathy.m@avanzegroup.com"/>
		<add key="CCMail" value=""/>
		<add key="BCCMail" value=""/>
	</appSettings>

</configuration>
